[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/agneta/Desktop/New Folder]
row=4
col=0

[/home/agneta/Desktop/etch-a-sketch]
row=5
col=0

[/home/agneta/Desktop/coding]
row=0
col=1

[/home/agneta/Desktop/code.desktop]
row=3
col=0

[/home/agneta/Desktop/google-chrome.desktop]
row=2
col=0

[Trash]
row=0
col=0

[/home/agneta]
row=1
col=0

